.header{
    background-color: var(--primaryColor);
    display: flex; /*para centralizar, foto e o nome ficarao um ao lado do outro*/
    flex-direction: column; /* para nome ficar embaixo de foto */
    align-items: center;/* centralizar o conteudo*/
    padding:80px 0 40px;
    margin-bottom: 40px;
}
.avatar{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border:2px solid var(--secondaryColor);
}

.name{
    font-size: 18px;
    color:var(--secondaryColor);
    padding-top: 20px;
}