*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} 

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

/* criando variaveis de cores */
:root{
    --primaryColor:#2d1c38;
    --secondaryColor: #CAD3C8;

}